
#marketDiv{
    width: 100%;
    height: 100%;
    padding: 1.6rem 0;
    position: fixed;
}


#leftDiv{
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
#leftDiv ul li{
    text-align: center;
    height: 1.3rem;
    line-height: 1.3rem;
    font-size: 0.45rem;
    border-bottom: solid 1px #e0e0e0;
}
#leftDiv ul li a{
    color: #6d6d6d;
}
.yellow{
    width: 0.1rem;
    background-color: #ffd600;
    display: block;
    float: left;
    height: 100%;
}


#rightDiv{
    background-color: white;
    height: 100%;
}
#topDiv{
    height: 1.3rem;
    line-height: 1.3rem;
    border-bottom: solid 1px #e0e0e0;
}
#topDiv span{
    font-size: 0.4rem;
}


#bottomDiv{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
#bottomDiv ul li{
    width: 100%;
    height: 3rem;
    border-bottom: solid 1px #e0e0e0;
}
#liLeftDiv{
    float: left;
    width: 40%;
    height: 100%;
}
#liLeftDiv img{
    width: 100%;
    height: 100%;
}

#liRightDiv{
    float: left;
    width: 60%;
    height: 100%;
}

#liRightDiv h5{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: black;
}

#liRightDiv p:last-child{
    color: red;
}


#typeDiv, #sortDiv{
    position: fixed;
    top: 2.9rem;
    right: 0;
    width:75%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    color: grey;
    display: none;
}
/*#typeDiv{*/
    /*display: block;*/
/*}*/
#typeDiv > div, #sortDiv > div{
    background: white;
    padding-bottom: 0.2rem;
}

#typeDiv  span, #sortDiv  span{
    /*color: red;*/
    border: 1px solid #e0e0e0;
    padding: 0.1rem 0.2rem;
    margin-left: 0.2rem;
    font-size: 0.4rem;
    display: inline-block;
    color: #777777;
    margin-top: 0.2rem;
}

.typeBg{
    background-color: lightcoral;
}





#bottomDiv li{
    position: relative;
}

#bottomDiv li > div {
  position: absolute;
  right: 0.2rem;
  bottom: 0.45rem;
  height: 0.75rem;
  border-radius: 1rem; }
#bottomDiv li > div > button {
  background: white;
  border: 1px solid orange;
  border-radius: 1111px;
  color: red;
  display: inline-block;
  text-align: center;
  line-height: 0.55rem;
  font-weight: 900;
  width: 0.8rem;
  height: 0.8rem; }
#bottomDiv li > div span {
  display: inline-block;
  width: 0.4rem;
  text-align: center;
  line-height: 0.4rem; }
/*.subShopping {*/
  /*font-size: 0.8rem;*/
  /*font-weight: 100; }*/



